include Makefile
include LICENSE
include README.rst
include requirements.txt

recursive-include doc *

include extension/picosat/*
include extension/espresso/src/*

include pyeda/logic/test/top95.txt
include pyeda/logic/test/top95_solns.txt

include example/*

